<div class="footer">
  <div class="footer-container">

    <div class="footer-info">
      <!-- <p>Guitarded</p>
      <p>Stringstraat 254</p>
      <p>1024 RB Amsterdam</p> -->
    </div>
    <div class="footer-info">
      <!-- <p>Tel&#58; &#43;31&#40;0&#41;415926535</p>
      <p>info&#64;guitarded&#46;com</p>
      <p>&copy;1999-2017 guitarded&#46;com</p> -->
    </div>
    <div class="footer-info">
      <!-- <p>FAQ</p>
      <p>Order &#38; delivery</p>
      <p>Payment</p> -->
    </div>
    <div class="footer-info">
      <!-- <p>Return products</p>
      <p>Warranty</p>
      <p>Repair</p> -->
    </div>
  </div>
</div>
