.footer, .push {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(45,45,40,1);
}

.footer-info {
  position: flex;
  justify-content: flex-start;
  padding-left: 100px;
  padding-top: 15px;
  font-family: 'Helvetica', cursive;
  line-height: 5px;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 100px;
}
